@import 'reset';
@import 'variables';

$shadow-length: 4px;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.header {
  margin: $invert-padding;
  margin-bottom: $shadow-length;
  background-color: $main-color0;
  color: $invert-text-color;
  box-shadow: 0 $shadow-length 5px -2px rgba($main-color0, 0.75);
}

.body {
  flex: 1;
  overflow-y: scroll;
  padding: 0;
  margin: 0 $invert-padding;
}

.core {
  max-width: $pc-size;
  margin: 0 auto;
}

.footer {
  margin: $invert-padding;
  margin-top: $shadow-length;
  background-color: $main-color0;
  color: $invert-text-color;
  box-shadow: 0 (-$shadow-length) 5px -2px rgba($main-color0, 0.75);
}

.pagenation {
  width: 100%;
  max-width: $pc-size;
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
  align-items: bottom;
}

.backButton {
  padding: 0;
}

.forwardButton {
  padding: 0;
}

.imagePopup {
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.sakura1,
.sakura2,
.sakura3,
.sakura4 {
  flex: 1;
  padding: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.sakura1 {
  background-image: url("./img/sakura1.jpg");
}

.sakura2 {
  background-image: url("./img/sakura2.jpg");
}

.sakura3 {
  background-image: url("./img/sakura3.jpg");
}

.sakura4 {
  background-image: url("./img/sakura4.jpg");
}

.answer {
  display: flex;
}

.icon {
  display: inline-block;
  vertical-align: top;
  height: 5em;
  width: 5em;
  max-width: 12%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  &.IconAsk {
    background-image: url("./img/bot-ask.png");
  }

  &.IconConfirm {
    background-image: url("./img/bot-confirm.png");
  }

  &.IconGoat {
    background-image: url("./img/bot-goat.png");
  }

  &.IconThinking {
    background-image: url("./img/bot-thinking.png");
  }

  &.IconBye {
    background-image: url("./img/bot-bye.png");
  }

  &.IconError {
    background-image: url("./img/bot-error.png");
  }

  &.IconNormal {
    background-image: url("./img/bot-normal.png");
  }
}
