.pack {
  padding: 0;
}

.inline {
  display: inline-block;
  padding: 0;

  &.top {
    vertical-align: top;
  }

  &.middle {
    vertical-align: middle;
  }

  &.bottom {
    vertical-align: bottom;
  }
}
