@import './variables';

$border-radius: 0.4em;
$duration: 700ms;

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: calc(#{$default-padding} * 2);
  transition-duration: $duration;
  transition-property: transform;
  transition-timing-function: $over-out;

  &:not([aria-hidden="true"]) {
    animation-name: popup;
    animation-duration: $duration;
    animation-timing-function: $over-out;

    @keyframes popup {
      from {
        transform: scale(0);
      }

      to {
        transform: scale(1);
      }
    }

    .background {
      animation-name: popup_background;
      animation-duration: $duration;
      animation-timing-function: $over-out;

      @keyframes popup_background {
        from {
          opacity: 0;
        }

        to {
          opacity: 0.7;
        }
      }
    }
  }

  .background {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $text-color;
    opacity: 0.7;
    z-index: -1;
    transition-duration: 700ms;
    transition-property: opacity;
    transition-timing-function: $over-out;
  }

  &[aria-hidden="true"] {
    transform: scale(0);
    transition-timing-function: $over-in;

    .background {
      opacity: 0;
      transition-timing-function: $over-in;
    }
  }
}

.centerBox {
  margin: 0 auto;
  width: 100%;
  max-width: $tablet-size;
  background-color: $background-color;
  border-radius: $border-radius;
}
